
.postContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, auto));
    gap: 15px;
    padding: 25px;
    
}

@media only screen and (max-width: 1600px) {
    .postContainer {
        grid-template-columns: repeat(3, minmax(0, auto));
    }
}

@media only screen and (max-width: 1200px) {
    .postContainer {
        grid-template-columns: repeat(2, minmax(0, auto));
    }
}


@media only screen and (max-width: 800px) {
    .postContainer {
        grid-template-columns: repeat(1, auto);
    }
}

