* {
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  main {
    display: flex;
    padding: 20px;
    flex: 1;
  }
  
