* {
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  @media (min-width: 2000px) {
  
    header {
        width: 75vw;
    }
  
  
  }
  