@import "../../scss/base/Variables.scss";
@import "../../scss/base/Fonts.scss";
.editPostForm {
    
    label {
        margin: 10px 0px 10px 0px;
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        color: #222f3e;

        input {
            width: 300px;
            box-sizing: border-box;
            width: 250px;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
     
            &:focus {
            border-bottom: 2px solid lightskyblue
            }            
        }
        
        span {
            margin-top: 5px;
            padding: 0;
            font-size: 0.7rem;
            color: red;
          }
    }

    button {        
        background-color: $primaryColor;  
        display: inline-block;
        cursor: pointer;
        border: none;
        padding: 0 25px;
        line-height: 45px;
        border-radius: 15px;
        font-weight: 700;
        font-size: 16px;
        color: $FontColor;
        margin-top: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        
        
    }
}


@media only screen and (max-device-width: 480px) {
    .editPostForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

