.postContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 10px;
    
}

@media only screen and (max-width: 1024px) {
    .postContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 680px) {
    .postContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

